#app {
    margin: 0 auto;
}
.img-wrapper {
    max-width: 500px;
    border: 1px solid #f7f8f9;
    padding: 10px;
    background-color: #eee;
    width: 200px;
    img {
        width: 100%;
        user-select: none;
        display: flex;
        flex-direction: row;
    }
}

.doc-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .doc-item {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #f9e09b;
        width: 100%;
        text-align: center;
    }
}

.footer {
    height: 200px;
    text-align: center;
    line-height: 200px;
}